src/views/index.slim
doctype html
html lang="es"

  head
    meta charset="utf-8"
    title Meeta Admin - Rident
    meta name="description" content="Administrador de contenidos Meeta para Rident"
    meta name="keywords" content="administrador, meeta"/
    meta name="author" content="Gricel Sepulveda, Agustín González"/
    /! VIEWPORT RESPONSIVE
    meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/
    /! NORMALIZE
    link rel="stylesheet" href="../styles/normalize.css" type="text/css"
    /! CUSTOM FONT STYLES
    link rel="stylesheet" href="../styles/meeta-fonts.css" type="text/css"
    /! GENERAL STYLES
    link rel="stylesheet" href="../styles/meeta-admin-styles.css" type="text/css"
    /! FORM STYLES
    link rel="stylesheet" href="../styles/meeta-admin-form.css" type="text/css"
    /! BUTTON STYLES
    link rel="stylesheet" href="../styles/meeta-admin-button.css" type="text/css"
    /! INPUT STYLES
    link rel="stylesheet" href="../styles/meeta-admin-input.css" type="text/css"
    /! ALERT STYLES
    link rel="stylesheet" href="../styles/meeta-admin-alert.css" type="text/css"
    /! JQUERY
    script src="../../common/js/jquery-3.2.1.min.js"
    /! FONT AWESOME
    script src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"
    /! CUSTOM SCRIPTS
    script src="../../common/js/meeta-admin.js"

  body
    .meeta-body-wrapper
      /! ERROR NOTIFICATION
      .meeta-wrapper-notification
        .meeta-notification.failed
          h2.meeta-notification-h2 
            | Error
            i.fas.fa-times-circle aria-hidden="true"
          p.meeta-notification-p Tu nombre de usuario o contraseña es incorrecto
      .meeta-wrapper-center
        .meeta-login.meeta-col
          .meeta-col
            span.meeta-logo 
              | me
              span.highlight
                | e
              | ta
            span.meeta-logo-after Administrador de contenidos
          .meeta-wrapper.dark.width-260px.title.lg.login
            h1.meeta-h1.width-260px.lg Bienvenido
            form.meeta-form
              .meeta-col.start
                .meeta-element-container.width-100
                  label.meeta-label.dark Usuario:
                  input.meeta-input.dark autofocus="" type="text"
                .meeta-element-container.width-100
                  label.meeta-label.dark Contraseña:
                  input.meeta-input.dark type="password"
                .meeta-element-container.width-100
                  button.meeta-button.dark.sm type="button" Ingresar
            span.meeta-note.margin-footer 
              i.fas.fa-exclamation-circle aria-hidden="true"
              | ¿Problemas con tu contraseña? 
              a href="mailto:soporte@meeta.cl" Escribenos

          
          

dist/views/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Meeta Admin - Rident</title>
    <meta content="Administrador de contenidos Meeta para Rident" name="description" />
    <meta content="administrador, meeta" name="keywords" />
    <meta content="Gricel Sepulveda, Agustín González" name="author" />
    <!--VIEWPORT RESPONSIVE-->
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
    <!--NORMALIZE-->
    <link href="../styles/normalize.css" rel="stylesheet" type="text/css" />
    <!--CUSTOM FONT STYLES-->
    <link href="../styles/meeta-fonts.css" rel="stylesheet" type="text/css" />
    <!--GENERAL STYLES-->
    <link href="../styles/meeta-admin-styles.css" rel="stylesheet" type="text/css" />
    <!--FORM STYLES-->
    <link href="../styles/meeta-admin-form.css" rel="stylesheet" type="text/css" />
    <!--BUTTON STYLES-->
    <link href="../styles/meeta-admin-button.css" rel="stylesheet" type="text/css" />
    <!--INPUT STYLES-->
    <link href="../styles/meeta-admin-input.css" rel="stylesheet" type="text/css" />
    <!--ALERT STYLES-->
    <link href="../styles/meeta-admin-alert.css" rel="stylesheet" type="text/css" />
    <!--JQUERY-->
    <script src="../../common/js/jquery-3.2.1.min.js"></script>
    <!--FONT AWESOME-->
    <script src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <!--CUSTOM SCRIPTS-->
    <script src="../../common/js/meeta-admin.js"></script>
  </head>
  <body>
    <div class="meeta-body-wrapper">
      <!--ERROR NOTIFICATION-->
      <div class="meeta-wrapper-notification">
        <div class="meeta-notification failed">
          <h2 class="meeta-notification-h2">
            Error<i aria-hidden="true" class="fas fa-times-circle"></i>
          </h2>
          <p class="meeta-notification-p">
            Tu nombre de usuario o contraseña es incorrecto
          </p>
        </div>
      </div>
      <div class="meeta-wrapper-center">
        <div class="meeta-login meeta-col">
          <div class="meeta-col">
            <span class="meeta-logo">me<span class="highlight">e</span>ta</span><span class="meeta-logo-after">Administrador de contenidos</span>
          </div>
          <div class="meeta-wrapper dark width-260px title lg login">
            <h1 class="meeta-h1 width-260px lg">
              Bienvenido
            </h1>
            <form class="meeta-form">
              <div class="meeta-col start">
                <div class="meeta-element-container width-100">
                  <label class="meeta-label dark">Usuario:</label><input autofocus="" class="meeta-input dark" type="text" />
                </div>
                <div class="meeta-element-container width-100">
                  <label class="meeta-label dark">Contraseña:</label><input class="meeta-input dark" type="password" />
                </div>
                <div class="meeta-element-container width-100">
                  <button class="meeta-button dark sm" type="button">Ingresar</button>
                </div>
              </div>
            </form>
            <span class="meeta-note margin-footer"><i aria-hidden="true" class="fas fa-exclamation-circle"></i>¿Problemas con tu contraseña? <a href="mailto:soporte@meeta.cl">Escribenos</a></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
