src/views/otros.slim
doctype html
html lang="es"

  head
    meta charset="utf-8"
    title Meeta Admin - Rident
    meta name="description" content="Administrador de contenidos Meeta para Rident"
    meta name="keywords" content="administrador, meeta"/
    meta name="author" content="Gricel Sepulveda, Agustín González"/
    /! VIEWPORT RESPONSIVE
    meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/
    /! NORMALIZE
    link rel="stylesheet" href="../styles/normalize.css" type="text/css"
    /! CUSTOM FONT STYLES
    link rel="stylesheet" href="../styles/meeta-fonts.css" type="text/css"
    /! GENERAL STYLES
    link rel="stylesheet" href="../styles/meeta-admin-styles.css" type="text/css"
    /! FORM STYLES
    link rel="stylesheet" href="../styles/meeta-admin-form.css" type="text/css"
    /! BUTTON STYLES
    link rel="stylesheet" href="../styles/meeta-admin-button.css" type="text/css"
    /! INPUT STYLES
    link rel="stylesheet" href="../styles/meeta-admin-input.css" type="text/css"
    /! INPUT FILE STYLES
    link rel="stylesheet" href="../styles/meeta-admin-input-file.css" type="text/css"
    /! TEXTAREA STYLES
    link rel="stylesheet" href="../styles/meeta-admin-textarea.css" type="text/css"
    /! ALERT STYLES
    link rel="stylesheet" href="../styles/meeta-admin-alert.css" type="text/css"
    /! MODAL STYLES
    link rel="stylesheet" href="../styles/meeta-admin-modal.css" type="text/css"
    /! RICH TEXT EDITOR STYLES
    link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet"
    /! JQUERY
    script src="../../common/js/jquery-3.2.1.min.js"
    /! FONT AWESOME
    script src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"
    /! CUSTOM SCRIPTS
    script src="../../common/js/meeta-admin.js"

  body
    .meeta-body-wrapper

      /! LOGO
      span.meeta-logo.page 
        | me
        span.highlight
          | e
        | ta

      /! ERROR NOTIFICATION
      .meeta-wrapper-notification
        .meeta-notification.success
          h2.meeta-notification-h2 
            | Aviso
            i.fas.fa-times-circle aria-hidden="true"
          p.meeta-notification-p 
            | Información actualizada 

      .meeta-wrapper-center

        .meeta-page.meeta-col
          .meeta-wrapper.main.width-960px.title.lg
            h1.meeta-h1.width-960px.lg.meeta-row.between
              | Panel de Administración - Rident
              span.meeta-linkeable 
                i.fas.fa-sign-out-alt
                | Salir
            
            .meeta-row.top
              /! MENU
              nav.meeta-main-menu.meeta-column.start.width-120px.spacer-right
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Inicio
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Especialidades
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Promociones
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Sedes
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Nosotros
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square type="button" Convenios
                .meeta-element-container.width-100
                  button.meeta-button.light.sm.square.active type="button" Otros

              /! PAGE
              .meeta-wrapper-col
                .meeta-scroll

                  /! VENUES MAIN BANNER PUENTE ALTO
                  .meeta-wrapper.dark.width-100
                    form.meeta-form.meeta-col.start
                      .meeta-element-container.width-100
                        span.meeta-sub Sedes - Banner Principal - Puente Alto
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Título:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Teléfono:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Celular:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Dirección:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Y para celebrar lo hacemos con las mejores promociones..." readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Enlace Dirección
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="http://www.google.maps.com/algo" readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-140px
                          button.meeta-button.sky.sm type="button" Guardar

                  /! VENUES MAIN BANNER SALVADOR
                  .meeta-wrapper.dark.width-100
                    form.meeta-form.meeta-col.start
                      .meeta-element-container.width-100
                        span.meeta-sub Sedes - Banner Principal - Salvador
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Título:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Teléfono:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Celular:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Dirección:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Y para celebrar lo hacemos con las mejores promociones..." readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Enlace Dirección
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="http://www.google.maps.com/algo" readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-140px
                          button.meeta-button.sky.sm type="button" Guardar

                  /! VENUES MAIN BANNER TOBALABA
                  .meeta-wrapper.dark.width-100
                    form.meeta-form.meeta-col.start
                      .meeta-element-container.width-100 
                        span.meeta-sub Sedes - Banner Principal - Tobalaba
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Título:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Teléfono:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Celular:
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Dirección: 
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Y para celebrar lo hacemos con las mejores promociones..." readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Enlace Dirección
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="http://www.google.maps.com/algo" readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-140px
                          button.meeta-button.sky.sm type="button" Guardar

                  /! SEPARATOR
                  .meeta-wrapper.dark.width-100
                    form.meeta-form.meeta-col.start
                      .meeta-element-container.width-100
                        span.meeta-sub Separadores de secciones
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Separador #1
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Separador #2
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Separador #3
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Separador #4
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="Estrenamos nuevo sitio web" readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-140px
                          button.meeta-button.sky.sm type="button" Guardar

                  /! SEPARATOR
                  .meeta-wrapper.dark.width-100
                    form.meeta-form.meeta-col.start
                      .meeta-element-container.width-100
                        span.meeta-sub Varios encabezado y pie de página
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Día de apertura (3 caracteres)
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="LUN" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Día de cierre (3 caracteres)
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="SAB" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Hora apertura (Ej: 9:00)
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="9:00" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Hora cierre (Ej: 20:00)
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="20:00" readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Enlace a facebok
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="http://fb.com/algo" readonly=""
                        .meeta-element-container.width-180px
                          label.meeta-label.dark Enlace a correo
                          input.meeta-input.dark.open-modal-input-text type="text" placeholder="contacto@rident.cl" readonly=""
                      .meeta-row.start
                        .meeta-element-container.width-140px
                          button.meeta-button.sky.sm type="button" Guardar

    /! MODAL BACKGROUND
    .meeta-modal-bg

    /! MODAL IMAGE START
    .meeta-modal-container.img.meeta-display-none 
      .meeta-modal.sm
        .meeta-modal-header
          h4.meeta-modal-h4 Actualizar contenido
        .meeta-modal-body
          p.meeta-modal-p
            | Te recomendamos usar una resolución superior a 800px y usar tinypng.com para bajar el peso de tus imágenes
          .meeta-modal-img-container
            input.meeta-input-file type="file"
            img src="../../common/assets/img/placeholder.png"
            .meeta-placeholder-img Cambiar imagen
        .meeta-modal-footer
          form.meeta-form
            .meeta-row.end
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm.close-modal type="button" Cancelar
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm type="button" Guardar

    /! MODAL TEXTAREA START
    .meeta-modal-container.textarea.meeta-display-none
      .meeta-modal.md
        .meeta-modal-header
          h4.meeta-modal-h4 Actualizar contenido
        .meeta-modal-body
          p.meeta-modal-p
            | Te recomendamos no llenar de texto tu sitio web para no afectar la usabilidad. Los visitantes leen alrededor de un 20% del texto total y quienes estan muy interesados no alcanzan a leer más allá del 60% de un artículo. Si quieres mejor posicionamiento se escueto y utiliza las palabras clave dentro de tu redacción. 
          .meeta-modal-textarea-container
            #meeta-editor
        .meeta-modal-footer
          form.meeta-form
            .meeta-row.end
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm.close-modal type="button" Cancelar
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm type="button" Guardar

    /! MODAL TEXTAREA START
    .meeta-modal-container.input-text.meeta-display-none
      .meeta-modal.md
        .meeta-modal-header
          h4.meeta-modal-h4 Actualizar contenido
        .meeta-modal-body
          p.meeta-modal-p
            | Si los títulos tienen demasiados caracteres pueden romper el diseño. Pero si sientes que necesitas más flexibilidad reportalo como issue a
            a href="mailto:soporte@meeta.cl"
              | soporte@meeta.cl
          textarea.meeta-textarea.dark
        .meeta-modal-footer
          form.meeta-form
            .meeta-row.end
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm.close-modal type="button" Cancelar
              .meeta-element-container.width-140px
                button.meeta-button.sky.sm type="button" Guardar

    /! RICH TEXT EDITOR SCRIPTS
    script src="https://cdn.quilljs.com/1.3.5/quill.js"
    /! RICH TEXT EDITOR INITIALIZING
    javascript:
      var quill = new Quill('#meeta-editor', {
        theme: 'snow'
      });



         

          

          
          

dist/views/otros.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Meeta Admin - Rident</title>
    <meta content="Administrador de contenidos Meeta para Rident" name="description" />
    <meta content="administrador, meeta" name="keywords" />
    <meta content="Gricel Sepulveda, Agustín González" name="author" />
    <!--VIEWPORT RESPONSIVE-->
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
    <!--NORMALIZE-->
    <link href="../styles/normalize.css" rel="stylesheet" type="text/css" />
    <!--CUSTOM FONT STYLES-->
    <link href="../styles/meeta-fonts.css" rel="stylesheet" type="text/css" />
    <!--GENERAL STYLES-->
    <link href="../styles/meeta-admin-styles.css" rel="stylesheet" type="text/css" />
    <!--FORM STYLES-->
    <link href="../styles/meeta-admin-form.css" rel="stylesheet" type="text/css" />
    <!--BUTTON STYLES-->
    <link href="../styles/meeta-admin-button.css" rel="stylesheet" type="text/css" />
    <!--INPUT STYLES-->
    <link href="../styles/meeta-admin-input.css" rel="stylesheet" type="text/css" />
    <!--INPUT FILE STYLES-->
    <link href="../styles/meeta-admin-input-file.css" rel="stylesheet" type="text/css" />
    <!--TEXTAREA STYLES-->
    <link href="../styles/meeta-admin-textarea.css" rel="stylesheet" type="text/css" />
    <!--ALERT STYLES-->
    <link href="../styles/meeta-admin-alert.css" rel="stylesheet" type="text/css" />
    <!--MODAL STYLES-->
    <link href="../styles/meeta-admin-modal.css" rel="stylesheet" type="text/css" />
    <!--RICH TEXT EDITOR STYLES-->
    <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet" />
    <!--JQUERY-->
    <script src="../../common/js/jquery-3.2.1.min.js"></script>
    <!--FONT AWESOME-->
    <script src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <!--CUSTOM SCRIPTS-->
    <script src="../../common/js/meeta-admin.js"></script>
  </head>
  <body>
    <div class="meeta-body-wrapper">
      <!--LOGO--><span class="meeta-logo page">me<span class="highlight">e</span>ta</span><!--ERROR NOTIFICATION-->
      <div class="meeta-wrapper-notification">
        <div class="meeta-notification success">
          <h2 class="meeta-notification-h2">
            Aviso<i aria-hidden="true" class="fas fa-times-circle"></i>
          </h2>
          <p class="meeta-notification-p">
            Información actualizada 
          </p>
        </div>
      </div>
      <div class="meeta-wrapper-center">
        <div class="meeta-page meeta-col">
          <div class="meeta-wrapper main width-960px title lg">
            <h1 class="meeta-h1 width-960px lg meeta-row between">
               Panel de Administración - Rident<span class="meeta-linkeable"><i class="fas fa-sign-out-alt"></i>Salir</span>
            </h1>
            <div class="meeta-row top">
              <!--MENU-->
              <nav class="meeta-main-menu meeta-column start width-120px spacer-right">
                <div class="meeta-element-container width-100">
                  <button class="meeta-button light sm square" type="button">Inicio</button>
                </div>
                <div class="meeta-element-container width-100">
                  <button class="meeta-button light sm square" type="button">Especialidades</button>
                </div>
                <div class="meeta-element-container width-100">
                  <button class="meeta-button light sm square" type="button">Promociones</button>
                </div>
                <div class="meeta-element-container width-100">
                  <button class="meeta-button light sm square" type="button">Sedes</button>
                </div>
                <div class="meeta-element-container width-100">
                  <button class="meeta-button light sm square" type="button">Nosotros</button>
                </div>
                <div class="meeta-element-container width-100">
                  <button class="meeta-button light sm square" type="button">Convenios</button>
                </div>
                <div class="meeta-element-container width-100">
                  <button class="meeta-button light sm square active" type="button">Otros</button>
                </div>
              </nav>
              <!--PAGE-->
              <div class="meeta-wrapper-col">
                <div class="meeta-scroll">
                  <!--VENUES MAIN BANNER PUENTE ALTO-->
                  <div class="meeta-wrapper dark width-100">
                    <form class="meeta-form meeta-col start">
                      <div class="meeta-element-container width-100">
                        <span class="meeta-sub">Sedes - Banner Principal - Puente Alto</span>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Título:</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Teléfono:</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Celular:</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Dirección:</label><input class="meeta-input dark open-modal-input-text" placeholder="Y para celebrar lo hacemos con las mejores promociones..." readonly="" type="text" />
                        </div>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Enlace Dirección</label><input class="meeta-input dark open-modal-input-text" placeholder="http://www.google.maps.com/algo" readonly="" type="text" />
                        </div>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-140px">
                          <button class="meeta-button sky sm" type="button">Guardar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!--VENUES MAIN BANNER SALVADOR-->
                  <div class="meeta-wrapper dark width-100">
                    <form class="meeta-form meeta-col start">
                      <div class="meeta-element-container width-100">
                        <span class="meeta-sub">Sedes - Banner Principal - Salvador</span>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Título:</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Teléfono:</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Celular:</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Dirección:</label><input class="meeta-input dark open-modal-input-text" placeholder="Y para celebrar lo hacemos con las mejores promociones..." readonly="" type="text" />
                        </div>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Enlace Dirección</label><input class="meeta-input dark open-modal-input-text" placeholder="http://www.google.maps.com/algo" readonly="" type="text" />
                        </div>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-140px">
                          <button class="meeta-button sky sm" type="button">Guardar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!--VENUES MAIN BANNER TOBALABA-->
                  <div class="meeta-wrapper dark width-100">
                    <form class="meeta-form meeta-col start">
                      <div class="meeta-element-container width-100">
                        <span class="meeta-sub">Sedes - Banner Principal - Tobalaba</span>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Título:</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Teléfono:</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Celular:</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Dirección: </label><input class="meeta-input dark open-modal-input-text" placeholder="Y para celebrar lo hacemos con las mejores promociones..." readonly="" type="text" />
                        </div>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Enlace Dirección</label><input class="meeta-input dark open-modal-input-text" placeholder="http://www.google.maps.com/algo" readonly="" type="text" />
                        </div>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-140px">
                          <button class="meeta-button sky sm" type="button">Guardar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!--SEPARATOR-->
                  <div class="meeta-wrapper dark width-100">
                    <form class="meeta-form meeta-col start">
                      <div class="meeta-element-container width-100">
                        <span class="meeta-sub">Separadores de secciones</span>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Separador #1</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Separador #2</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Separador #3</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Separador #4</label><input class="meeta-input dark open-modal-input-text" placeholder="Estrenamos nuevo sitio web" readonly="" type="text" />
                        </div>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-140px">
                          <button class="meeta-button sky sm" type="button">Guardar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!--SEPARATOR-->
                  <div class="meeta-wrapper dark width-100">
                    <form class="meeta-form meeta-col start">
                      <div class="meeta-element-container width-100">
                        <span class="meeta-sub">Varios encabezado y pie de página</span>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Día de apertura (3 caracteres)</label><input class="meeta-input dark open-modal-input-text" placeholder="LUN" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Día de cierre (3 caracteres)</label><input class="meeta-input dark open-modal-input-text" placeholder="SAB" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Hora apertura (Ej: 9:00)</label><input class="meeta-input dark open-modal-input-text" placeholder="9:00" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Hora cierre (Ej: 20:00)</label><input class="meeta-input dark open-modal-input-text" placeholder="20:00" readonly="" type="text" />
                        </div>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Enlace a facebok</label><input class="meeta-input dark open-modal-input-text" placeholder="http://fb.com/algo" readonly="" type="text" />
                        </div>
                        <div class="meeta-element-container width-180px">
                          <label class="meeta-label dark">Enlace a correo</label><input class="meeta-input dark open-modal-input-text" placeholder="contacto@rident.cl" readonly="" type="text" />
                        </div>
                      </div>
                      <div class="meeta-row start">
                        <div class="meeta-element-container width-140px">
                          <button class="meeta-button sky sm" type="button">Guardar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--MODAL BACKGROUND-->
    <div class="meeta-modal-bg"></div>
    <!--MODAL IMAGE START-->
    <div class="meeta-modal-container img meeta-display-none">
      <div class="meeta-modal sm">
        <div class="meeta-modal-header">
          <h4 class="meeta-modal-h4">
            Actualizar contenido
          </h4>
        </div>
        <div class="meeta-modal-body">
          <p class="meeta-modal-p">
             Te recomendamos usar una resolución superior a 800px y usar tinypng.com para bajar el peso de tus imágenes
          </p>
          <div class="meeta-modal-img-container">
            <input class="meeta-input-file" type="file" /><img src="../../common/assets/img/placeholder.png" />
            <div class="meeta-placeholder-img">
              Cambiar imagen
            </div>
          </div>
        </div>
        <div class="meeta-modal-footer">
          <form class="meeta-form">
            <div class="meeta-row end">
              <div class="meeta-element-container width-140px">
                <button class="meeta-button sky sm close-modal" type="button">Cancelar</button>
              </div>
              <div class="meeta-element-container width-140px">
                <button class="meeta-button sky sm" type="button">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--MODAL TEXTAREA START-->
    <div class="meeta-modal-container textarea meeta-display-none">
      <div class="meeta-modal md">
        <div class="meeta-modal-header">
          <h4 class="meeta-modal-h4">
            Actualizar contenido
          </h4>
        </div>
        <div class="meeta-modal-body">
          <p class="meeta-modal-p">
             Te recomendamos no llenar de texto tu sitio web para no afectar la usabilidad. Los visitantes leen alrededor de un 20% del texto total y quienes estan muy interesados no alcanzan a leer más allá del 60% de un artículo. Si quieres mejor posicionamiento se escueto y utiliza las palabras clave dentro de tu redacción. 
          </p>
          <div class="meeta-modal-textarea-container">
            <div id="meeta-editor"></div>
          </div>
        </div>
        <div class="meeta-modal-footer">
          <form class="meeta-form">
            <div class="meeta-row end">
              <div class="meeta-element-container width-140px">
                <button class="meeta-button sky sm close-modal" type="button">Cancelar</button>
              </div>
              <div class="meeta-element-container width-140px">
                <button class="meeta-button sky sm" type="button">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--MODAL TEXTAREA START-->
    <div class="meeta-modal-container input-text meeta-display-none">
      <div class="meeta-modal md">
        <div class="meeta-modal-header">
          <h4 class="meeta-modal-h4">
            Actualizar contenido
          </h4>
        </div>
        <div class="meeta-modal-body">
          <p class="meeta-modal-p">
             Si los títulos tienen demasiados caracteres pueden romper el diseño. Pero si sientes que necesitas más flexibilidad reportalo como issue a<a href="mailto:soporte@meeta.cl"> soporte@meeta.cl</a>
          </p>
          <textarea class="meeta-textarea dark"></textarea>
        </div>
        <div class="meeta-modal-footer">
          <form class="meeta-form">
            <div class="meeta-row end">
              <div class="meeta-element-container width-140px">
                <button class="meeta-button sky sm close-modal" type="button">Cancelar</button>
              </div>
              <div class="meeta-element-container width-140px">
                <button class="meeta-button sky sm" type="button">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--RICH TEXT EDITOR SCRIPTS-->
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script>
    <!--RICH TEXT EDITOR INITIALIZING-->
    <script>
      var quill = new Quill('#meeta-editor', {
        theme: 'snow'
      });
    </script>
  </body>
</html>
